# https://hydra.cc/docs/configure_hydra/intro/

# enable color logging
defaults:
  - override hydra_logging: colorlog
  - override job_logging: custom

# output directory, generated dynamically on each run
# ${now:%Y-%m-%d}_${now:%H-%M-%S}
run:
  dir: ${paths.log_dir}/${task_name}/${run_name}/${net.name}
sweep:
  dir: ${paths.log_dir}/${task_name}/${run_name}
  subdir: ${net.name}/${now:%Y-%m-%d}_${now:%H-%M-%S}